# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
checkpoints/.DS_Store
checkpoints/lr001/.DS_Store
checkpoints/lr001/checkpoint_20240818-224620_epoch_0.pth
checkpoints/lr001/checkpoint_20240822-172614_epoch_0.pth
checkpoints/lr001/checkpoint_20240822-174501_epoch_1.pth
checkpoints/lr001/checkpoint_20240822-180740_epoch_0.pth
checkpoints/lr001/checkpoint_20240822-183017_epoch_1.pth
checkpoints/lr001/checkpoint_20240822-185250_epoch_2.pth
checkpoints/lr001/checkpoint_20240822-191526_epoch_3.pth
checkpoints/lr001/checkpoint_20240824-134742_epoch_0.pth
checkpoints/lr001/checkpoint_20240824-184447_epoch_1.pth
checkpoints/lr001/checkpoint_20240824-202908_epoch_2.pth
data/MNIST/raw/t10k-images-idx3-ubyte
data/MNIST/raw/t10k-images-idx3-ubyte.gz
data/MNIST/raw/t10k-labels-idx1-ubyte
data/MNIST/raw/t10k-labels-idx1-ubyte.gz
data/MNIST/raw/train-images-idx3-ubyte
data/MNIST/raw/train-images-idx3-ubyte.gz
data/MNIST/raw/train-labels-idx1-ubyte
data/MNIST/raw/train-labels-idx1-ubyte.gz
runs/experiment_1/events.out.tfevents.1724006663.Tims-MacBook-Air-2.fritz.box.61236.0
runs/experiment_1/events.out.tfevents.1724006684.Tims-MacBook-Air-2.fritz.box.61337.0
runs/experiment_1/events.out.tfevents.1724006725.Tims-MacBook-Air-2.fritz.box.61421.0
runs/experiment_1/events.out.tfevents.1724006837.Tims-MacBook-Air-2.fritz.box.61585.0
runs/experiment_1/events.out.tfevents.1724006890.Tims-MacBook-Air-2.fritz.box.61683.0
runs/experiment_1/events.out.tfevents.1724007043.Tims-MacBook-Air-2.fritz.box.61857.0
runs/experiment_1/events.out.tfevents.1724007206.Tims-MacBook-Air-2.fritz.box.62042.0
runs/experiment_1/events.out.tfevents.1724007439.Tims-MacBook-Air-2.fritz.box.62274.0
runs/experiment_1/events.out.tfevents.1724007667.Tims-MacBook-Air-2.fritz.box.62476.0
runs/experiment_1/events.out.tfevents.1724007716.Tims-MacBook-Air-2.fritz.box.62559.0
runs/experiment_1/events.out.tfevents.1724007770.Tims-MacBook-Air-2.fritz.box.62664.0
runs/experiment_1/events.out.tfevents.1724007880.Tims-MacBook-Air-2.fritz.box.62835.0
runs/experiment_1/events.out.tfevents.1724007969.Tims-MacBook-Air-2.fritz.box.62992.0
runs/experiment_1/events.out.tfevents.1724008182.Tims-MacBook-Air-2.fritz.box.63284.0
runs/experiment_1/events.out.tfevents.1724008249.Tims-MacBook-Air-2.fritz.box.63392.0
runs/experiment_1/events.out.tfevents.1724008353.Tims-MacBook-Air-2.fritz.box.63661.0
runs/experiment_1/events.out.tfevents.1724008525.Tims-MacBook-Air-2.fritz.box.63856.0
runs/experiment_1/events.out.tfevents.1724008624.Tims-MacBook-Air-2.fritz.box.63962.0
runs/experiment_1/events.out.tfevents.1724008863.Tims-MacBook-Air-2.fritz.box.64135.0
runs/experiment_1/events.out.tfevents.1724008950.Tims-MacBook-Air-2.fritz.box.64215.0
runs/experiment_1/events.out.tfevents.1724009055.Tims-MacBook-Air-2.fritz.box.64298.0
runs/experiment_1/events.out.tfevents.1724009259.Tims-MacBook-Air-2.fritz.box.64557.0
runs/experiment_1/events.out.tfevents.1724009297.Tims-MacBook-Air-2.fritz.box.64653.0
runs/experiment_1/events.out.tfevents.1724009400.Tims-MacBook-Air-2.fritz.box.64747.0
runs/experiment_1/events.out.tfevents.1724009918.Tims-MacBook-Air-2.fritz.box.65133.0
runs/experiment_1/events.out.tfevents.1724012583.Tims-MacBook-Air-2.fritz.box.66871.0
runs/experiment_1/events.out.tfevents.1724080892.Tims-MacBook-Air-2.fritz.box.3100.0
runs/experiment_1/events.out.tfevents.1724081040.Tims-MacBook-Air-2.fritz.box.4126.0
runs/experiment_1/events.out.tfevents.1724083119.Tims-MacBook-Air-2.fritz.box.7995.0
runs/experiment_1/events.out.tfevents.1724083481.Tims-MacBook-Air-2.fritz.box.8179.0
runs/experiment_1/events.out.tfevents.1724083518.Tims-MacBook-Air-2.fritz.box.8238.0
runs/experiment_1/events.out.tfevents.1724083818.Tims-MacBook-Air-2.fritz.box.8500.0
runs/experiment_1/events.out.tfevents.1724083865.Tims-MacBook-Air-2.fritz.box.8559.0
runs/experiment_1/events.out.tfevents.1724083906.Tims-MacBook-Air-2.fritz.box.8608.0
runs/experiment_1/events.out.tfevents.1724083922.Tims-MacBook-Air-2.fritz.box.8652.0
runs/experiment_1/events.out.tfevents.1724083972.Tims-MacBook-Air-2.fritz.box.8735.0
runs/experiment_1/events.out.tfevents.1724083989.Tims-MacBook-Air-2.fritz.box.8780.0
runs/experiment_1/events.out.tfevents.1724084007.Tims-MacBook-Air-2.fritz.box.8863.0
runs/experiment_1/events.out.tfevents.1724084074.Tims-MacBook-Air-2.fritz.box.8930.0
runs/experiment_1/events.out.tfevents.1724084239.Tims-MacBook-Air-2.fritz.box.7912.0
runs/experiment_1/events.out.tfevents.1724084432.Tims-MacBook-Air-2.fritz.box.7912.1
runs/experiment_1/events.out.tfevents.1724084502.Tims-MacBook-Air-2.fritz.box.7912.2
runs/experiment_1/events.out.tfevents.1724084537.Tims-MacBook-Air-2.fritz.box.9172.0
runs/experiment_1/events.out.tfevents.1724084544.Tims-MacBook-Air-2.fritz.box.7912.3
runs/experiment_1/events.out.tfevents.1724084562.Tims-MacBook-Air-2.fritz.box.9204.0
runs/experiment_1/events.out.tfevents.1724084829.Tims-MacBook-Air-2.fritz.box.9309.0
runs/experiment_1/events.out.tfevents.1724084881.Tims-MacBook-Air-2.fritz.box.9204.1
runs/experiment_1/events.out.tfevents.1724084980.Tims-MacBook-Air-2.fritz.box.9204.2
runs/experiment_1/events.out.tfevents.1724085163.Tims-MacBook-Air-2.fritz.box.9481.0
runs/experiment_1/events.out.tfevents.1724085202.Tims-MacBook-Air-2.fritz.box.9481.1
runs/experiment_1/events.out.tfevents.1724085259.Tims-MacBook-Air-2.fritz.box.9481.2
runs/experiment_1/events.out.tfevents.1724085318.Tims-MacBook-Air-2.fritz.box.9481.3
runs/experiment_1/events.out.tfevents.1724085529.Tims-MacBook-Air-2.fritz.box.9684.0
runs/experiment_1/events.out.tfevents.1724085547.Tims-MacBook-Air-2.fritz.box.9734.0
runs/experiment_1/events.out.tfevents.1724086827.Tims-MacBook-Air-2.fritz.box.10724.0
runs/experiment_1/events.out.tfevents.1724169297.Tims-MacBook-Air-2.fritz.box.59844.0
runs/experiment_1/events.out.tfevents.1724223664.Tims-MacBook-Air-2.fritz.box.64326.0
runs/experiment_1/events.out.tfevents.1724223844.Tims-MacBook-Air-2.fritz.box.64419.0
runs/experiment_1/events.out.tfevents.1724225682.8c206a55-0327-4a65-86ba-cf91b713244f.fritz.box.64419.1
runs/experiment_1/events.out.tfevents.1724225721.8c206a55-0327-4a65-86ba-cf91b713244f.fritz.box.64944.0
runs/experiment_1/events.out.tfevents.1724225735.8c206a55-0327-4a65-86ba-cf91b713244f.fritz.box.64944.1
runs/experiment_1/events.out.tfevents.1724227947.Tims-MacBook-Air-2.fritz.box.66093.0
runs/experiment_1/events.out.tfevents.1724228023.Tims-MacBook-Air-2.fritz.box.66178.0
runs/experiment_1/events.out.tfevents.1724228114.Tims-MacBook-Air-2.fritz.box.66279.0
runs/experiment_1/events.out.tfevents.1724228236.Tims-MacBook-Air-2.fritz.box.66350.0
runs/experiment_1/events.out.tfevents.1724229025.Tims-MacBook-Air-2.fritz.box.66693.0
runs/experiment_1/events.out.tfevents.1724229262.Tims-MacBook-Air-2.fritz.box.66922.0
runs/experiment_1/events.out.tfevents.1724229406.Tims-MacBook-Air-2.fritz.box.67077.0
runs/experiment_1/events.out.tfevents.1724229504.Tims-MacBook-Air-2.fritz.box.67154.0
runs/experiment_1/events.out.tfevents.1724229585.Tims-MacBook-Air-2.fritz.box.67253.0
runs/experiment_1/events.out.tfevents.1724231499.Tims-MacBook-Air-2.fritz.box.68597.0
runs/experiment_1/events.out.tfevents.1724231525.Tims-MacBook-Air-2.fritz.box.68661.0
runs/experiment_1/events.out.tfevents.1724231538.Tims-MacBook-Air-2.fritz.box.68736.0
runs/experiment_1/events.out.tfevents.1724231550.Tims-MacBook-Air-2.fritz.box.68804.0
runs/experiment_1/events.out.tfevents.1724232227.Tims-MacBook-Air-2.fritz.box.69049.0
runs/experiment_1/events.out.tfevents.1724232302.Tims-MacBook-Air-2.fritz.box.69160.0
runs/experiment_1/events.out.tfevents.1724232374.Tims-MacBook-Air-2.fritz.box.69256.0
runs/experiment_1/events.out.tfevents.1724232432.Tims-MacBook-Air-2.fritz.box.69398.0
runs/experiment_1/events.out.tfevents.1724232660.Tims-MacBook-Air-2.fritz.box.69562.0
runs/experiment_1/events.out.tfevents.1724232755.Tims-MacBook-Air-2.fritz.box.69683.0
runs/experiment_1/events.out.tfevents.1724232807.Tims-MacBook-Air-2.fritz.box.69777.0
runs/experiment_1/events.out.tfevents.1724232968.Tims-MacBook-Air-2.fritz.box.69922.0
runs/experiment_1/events.out.tfevents.1724232985.Tims-MacBook-Air-2.fritz.box.70002.0
runs/experiment_1/events.out.tfevents.1724233056.Tims-MacBook-Air-2.fritz.box.70144.0
runs/experiment_1/events.out.tfevents.1724233112.Tims-MacBook-Air-2.fritz.box.70251.0
runs/experiment_1/events.out.tfevents.1724233213.Tims-MacBook-Air-2.fritz.box.70431.0
runs/experiment_1/events.out.tfevents.1724233238.Tims-MacBook-Air-2.fritz.box.70502.0
runs/experiment_1/events.out.tfevents.1724233258.Tims-MacBook-Air-2.fritz.box.70576.0
runs/experiment_1/events.out.tfevents.1724233326.Tims-MacBook-Air-2.fritz.box.70678.0
runs/experiment_1/events.out.tfevents.1724233342.Tims-MacBook-Air-2.fritz.box.70752.0
runs/experiment_1/events.out.tfevents.1724233382.Tims-MacBook-Air-2.fritz.box.70867.0
runs/experiment_1/events.out.tfevents.1724233431.Tims-MacBook-Air-2.fritz.box.70972.0
runs/experiment_1/events.out.tfevents.1724233663.Tims-MacBook-Air-2.fritz.box.71168.0
runs/experiment_1/events.out.tfevents.1724233683.Tims-MacBook-Air-2.fritz.box.71268.0
runs/experiment_1/events.out.tfevents.1724233703.Tims-MacBook-Air-2.fritz.box.71339.0
runs/experiment_1/events.out.tfevents.1724233811.Tims-MacBook-Air-2.fritz.box.71463.0
runs/experiment_1/events.out.tfevents.1724235574.Tims-MacBook-Air-2.fritz.box.72728.0
runs/experiment_1/events.out.tfevents.1724238110.Tims-MacBook-Air-2.fritz.box.74410.0
runs/experiment_1/events.out.tfevents.1724238160.Tims-MacBook-Air-2.fritz.box.74539.0
runs/experiment_1/events.out.tfevents.1724238213.Tims-MacBook-Air-2.fritz.box.74691.0
runs/experiment_1/events.out.tfevents.1724238354.Tims-MacBook-Air-2.fritz.box.74876.0
runs/experiment_1/events.out.tfevents.1724238481.Tims-MacBook-Air-2.fritz.box.75097.0
runs/experiment_1/events.out.tfevents.1724239044.Tims-MacBook-Air-2.fritz.box.75454.0
runs/experiment_1/events.out.tfevents.1724239465.Tims-MacBook-Air-2.fritz.box.75941.0
runs/experiment_1/events.out.tfevents.1724239477.Tims-MacBook-Air-2.fritz.box.76002.0
runs/experiment_1/events.out.tfevents.1724239609.Tims-MacBook-Air-2.fritz.box.76154.0
runs/experiment_1/events.out.tfevents.1724239698.Tims-MacBook-Air-2.fritz.box.76256.0
runs/experiment_1/events.out.tfevents.1724239740.Tims-MacBook-Air-2.fritz.box.76353.0
runs/experiment_1/events.out.tfevents.1724239873.Tims-MacBook-Air-2.fritz.box.76545.0
runs/experiment_1/events.out.tfevents.1724240074.Tims-MacBook-Air-2.fritz.box.76756.0
runs/experiment_1/events.out.tfevents.1724240090.Tims-MacBook-Air-2.fritz.box.76833.0
runs/experiment_1/events.out.tfevents.1724240116.Tims-MacBook-Air-2.fritz.box.76917.0
runs/experiment_1/events.out.tfevents.1724241944.Tims-MacBook-Air-2.fritz.box.78117.0
runs/experiment_1/events.out.tfevents.1724269468.Tims-MacBook-Air-2.fritz.box.91138.0
runs/experiment_1/events.out.tfevents.1724307783.Tims-MacBook-Air-2.fritz.box.3877.0
runs/experiment_1/events.out.tfevents.1724333063.Tims-MacBook-Air-2.fritz.box.19210.0
runs/experiment_1/events.out.tfevents.1724335613.Tims-MacBook-Air-2.fritz.box.20080.0
runs/experiment_1/events.out.tfevents.1724335641.Tims-MacBook-Air-2.fritz.box.20169.0
runs/experiment_1/events.out.tfevents.1724335672.Tims-MacBook-Air-2.fritz.box.20255.0
runs/experiment_1/events.out.tfevents.1724335797.Tims-MacBook-Air-2.fritz.box.20502.0
runs/experiment_1/events.out.tfevents.1724335964.Tims-MacBook-Air-2.fritz.box.20704.0
runs/experiment_1/events.out.tfevents.1724335994.Tims-MacBook-Air-2.fritz.box.20791.0
runs/experiment_1/events.out.tfevents.1724336038.Tims-MacBook-Air-2.fritz.box.20882.0
runs/experiment_1/events.out.tfevents.1724336069.Tims-MacBook-Air-2.fritz.box.20966.0
runs/experiment_1/events.out.tfevents.1724336105.Tims-MacBook-Air-2.fritz.box.21056.0
runs/experiment_1/events.out.tfevents.1724336153.Tims-MacBook-Air-2.fritz.box.21175.0
runs/experiment_1/events.out.tfevents.1724336352.Tims-MacBook-Air-2.fritz.box.21328.0
runs/experiment_1/events.out.tfevents.1724336415.Tims-MacBook-Air-2.fritz.box.21439.0
runs/experiment_1/events.out.tfevents.1724336485.Tims-MacBook-Air-2.fritz.box.21541.0
runs/experiment_1/events.out.tfevents.1724336622.Tims-MacBook-Air-2.fritz.box.21722.0
runs/experiment_1/events.out.tfevents.1724336836.Tims-MacBook-Air-2.fritz.box.21935.0
runs/experiment_1/events.out.tfevents.1724336946.Tims-MacBook-Air-2.fritz.box.22072.0
runs/experiment_1/events.out.tfevents.1724337053.Tims-MacBook-Air-2.fritz.box.22251.0
runs/experiment_1/events.out.tfevents.1724337116.Tims-MacBook-Air-2.fritz.box.22342.0
runs/experiment_1/events.out.tfevents.1724337339.Tims-MacBook-Air-2.fritz.box.22550.0
runs/experiment_1/events.out.tfevents.1724337388.Tims-MacBook-Air-2.fritz.box.22665.0
runs/experiment_1/events.out.tfevents.1724337426.Tims-MacBook-Air-2.fritz.box.22777.0
runs/experiment_1/events.out.tfevents.1724337506.Tims-MacBook-Air-2.fritz.box.22882.0
runs/experiment_1/events.out.tfevents.1724337885.Tims-MacBook-Air-2.fritz.box.23086.0
runs/experiment_1/events.out.tfevents.1724337995.Tims-MacBook-Air-2.fritz.box.23218.0
runs/experiment_1/events.out.tfevents.1724338083.Tims-MacBook-Air-2.fritz.box.23330.0
runs/experiment_1/events.out.tfevents.1724338824.Tims-MacBook-Air-2.fritz.box.23655.0
runs/experiment_1/events.out.tfevents.1724338854.Tims-MacBook-Air-2.fritz.box.23748.0
runs/experiment_1/events.out.tfevents.1724338886.Tims-MacBook-Air-2.fritz.box.23843.0
runs/experiment_1/events.out.tfevents.1724338924.Tims-MacBook-Air-2.fritz.box.23997.0
runs/experiment_1/events.out.tfevents.1724338977.Tims-MacBook-Air-2.fritz.box.24155.0
runs/experiment_1/events.out.tfevents.1724393688.Tims-MacBook-Air-2.fritz.box.54101.0
runs/experiment_1/events.out.tfevents.1724393769.Tims-MacBook-Air-2.fritz.box.54221.0
runs/experiment_1/events.out.tfevents.1724393846.Tims-MacBook-Air-2.fritz.box.54353.0
runs/experiment_1/events.out.tfevents.1724393936.Tims-MacBook-Air-2.fritz.box.54499.0
runs/experiment_1/events.out.tfevents.1724393974.Tims-MacBook-Air-2.fritz.box.54641.0
runs/experiment_1/events.out.tfevents.1724394069.Tims-MacBook-Air-2.fritz.box.54854.0
runs/experiment_1/events.out.tfevents.1724394485.Tims-MacBook-Air-2.fritz.box.55174.0
runs/experiment_1/events.out.tfevents.1724394510.Tims-MacBook-Air-2.fritz.box.55290.0
runs/experiment_1/events.out.tfevents.1724394531.Tims-MacBook-Air-2.fritz.box.55390.0
runs/experiment_1/events.out.tfevents.1724394870.Tims-MacBook-Air-2.fritz.box.55704.0
runs/experiment_1/events.out.tfevents.1724394959.Tims-MacBook-Air-2.fritz.box.55878.0
runs/experiment_1/events.out.tfevents.1724395339.Tims-MacBook-Air-2.fritz.box.56301.0
runs/experiment_1/events.out.tfevents.1724401217.Tims-MacBook-Air-2.local.58267.0
runs/experiment_1/events.out.tfevents.1724401311.Tims-MacBook-Air-2.local.58420.0
runs/experiment_1/events.out.tfevents.1724401621.Tims-MacBook-Air-2.local.58826.0
runs/experiment_1/events.out.tfevents.1724404119.Tims-MacBook-Air-2.local.59394.0
runs/experiment_1/events.out.tfevents.1724404161.Tims-MacBook-Air-2.local.59497.0
runs/experiment_1/events.out.tfevents.1724404185.Tims-MacBook-Air-2.local.59626.0
runs/experiment_1/events.out.tfevents.1724404238.Tims-MacBook-Air-2.local.59822.0
runs/experiment_1/events.out.tfevents.1724404342.Tims-MacBook-Air-2.local.59941.0
runs/experiment_1/events.out.tfevents.1724424279.Tims-Air-2.fritz.box.63278.0
runs/experiment_1/events.out.tfevents.1724431844.Tims-MacBook-Air-2.fritz.box.67210.0
runs/experiment_1/events.out.tfevents.1724431934.Tims-MacBook-Air-2.fritz.box.67340.0
runs/experiment_1/events.out.tfevents.1724431978.Tims-MacBook-Air-2.fritz.box.67421.0
runs/experiment_1/events.out.tfevents.1724431992.Tims-MacBook-Air-2.fritz.box.67499.0
runs/experiment_1/events.out.tfevents.1724432015.Tims-MacBook-Air-2.fritz.box.67608.0
runs/experiment_1/events.out.tfevents.1724432026.Tims-MacBook-Air-2.fritz.box.67682.0
runs/experiment_1/events.out.tfevents.1724432043.Tims-MacBook-Air-2.fritz.box.67769.0
runs/experiment_1/events.out.tfevents.1724432099.Tims-MacBook-Air-2.fritz.box.67844.0
runs/experiment_1/events.out.tfevents.1724432125.Tims-MacBook-Air-2.fritz.box.67928.0
runs/experiment_1/events.out.tfevents.1724432132.Tims-MacBook-Air-2.fritz.box.68010.0
runs/experiment_1/events.out.tfevents.1724432235.Tims-MacBook-Air-2.fritz.box.68198.0
runs/experiment_1/events.out.tfevents.1724432288.Tims-MacBook-Air-2.fritz.box.68319.0
runs/experiment_1/events.out.tfevents.1724432339.Tims-MacBook-Air-2.fritz.box.68425.0
runs/experiment_1/events.out.tfevents.1724432394.Tims-MacBook-Air-2.fritz.box.68558.0
runs/experiment_1/events.out.tfevents.1724432490.Tims-MacBook-Air-2.fritz.box.68674.0
runs/experiment_1/events.out.tfevents.1724432591.Tims-MacBook-Air-2.fritz.box.68804.0
runs/experiment_1/events.out.tfevents.1724432621.Tims-MacBook-Air-2.fritz.box.68900.0
runs/experiment_1/events.out.tfevents.1724432676.Tims-MacBook-Air-2.fritz.box.69022.0
runs/experiment_1/events.out.tfevents.1724432916.Tims-MacBook-Air-2.fritz.box.69405.0
runs/experiment_1/events.out.tfevents.1724433011.Tims-MacBook-Air-2.fritz.box.69581.0
runs/experiment_1/events.out.tfevents.1724433044.Tims-MacBook-Air-2.fritz.box.69680.0
runs/experiment_1/events.out.tfevents.1724433103.Tims-MacBook-Air-2.fritz.box.69829.0
runs/experiment_1/events.out.tfevents.1724433298.Tims-MacBook-Air-2.fritz.box.70059.0
runs/experiment_1/events.out.tfevents.1724433334.Tims-MacBook-Air-2.fritz.box.70165.0
runs/experiment_1/events.out.tfevents.1724433374.Tims-MacBook-Air-2.fritz.box.70276.0
runs/experiment_1/events.out.tfevents.1724433391.Tims-MacBook-Air-2.fritz.box.70346.0
runs/experiment_1/events.out.tfevents.1724433433.Tims-MacBook-Air-2.fritz.box.70526.0
runs/experiment_1/events.out.tfevents.1724433505.Tims-MacBook-Air-2.fritz.box.70705.0
runs/experiment_1/events.out.tfevents.1724433882.Tims-MacBook-Air-2.fritz.box.71528.0
runs/experiment_1/events.out.tfevents.1724433902.Tims-MacBook-Air-2.fritz.box.71614.0
runs/experiment_1/events.out.tfevents.1724433988.Tims-MacBook-Air-2.fritz.box.71732.0
runs/experiment_1/events.out.tfevents.1724434067.Tims-MacBook-Air-2.fritz.box.71866.0
runs/experiment_1/events.out.tfevents.1724434079.Tims-MacBook-Air-2.fritz.box.71940.0
runs/experiment_1/events.out.tfevents.1724434089.Tims-MacBook-Air-2.fritz.box.72013.0
runs/experiment_1/events.out.tfevents.1724434156.Tims-MacBook-Air-2.fritz.box.72131.0
runs/experiment_1/events.out.tfevents.1724434462.Tims-MacBook-Air-2.fritz.box.72255.0
runs/experiment_1/events.out.tfevents.1724434909.Tims-MacBook-Air-2.fritz.box.72423.0
runs/experiment_1/events.out.tfevents.1724434975.Tims-MacBook-Air-2.fritz.box.72552.0
runs/experiment_1/events.out.tfevents.1724434987.Tims-MacBook-Air-2.fritz.box.72631.0
runs/experiment_1/events.out.tfevents.1724435014.Tims-MacBook-Air-2.fritz.box.72722.0
runs/experiment_1/events.out.tfevents.1724445464.Tims-MacBook-Air-2.fritz.box.73170.0
runs/experiment_1/events.out.tfevents.1724445493.Tims-MacBook-Air-2.fritz.box.73260.0
runs/experiment_1/events.out.tfevents.1724445516.Tims-MacBook-Air-2.fritz.box.73344.0
runs/experiment_1/events.out.tfevents.1724445550.Tims-MacBook-Air-2.fritz.box.73432.0
runs/experiment_1/events.out.tfevents.1724445585.Tims-MacBook-Air-2.fritz.box.73528.0
runs/experiment_1/events.out.tfevents.1724445633.Tims-MacBook-Air-2.fritz.box.73646.0
runs/experiment_1/events.out.tfevents.1724445747.Tims-MacBook-Air-2.fritz.box.73770.0
runs/experiment_1/events.out.tfevents.1724445986.Tims-MacBook-Air-2.fritz.box.74069.0
runs/experiment_1/events.out.tfevents.1724446044.Tims-MacBook-Air-2.fritz.box.74260.0
runs/experiment_1/events.out.tfevents.1724446068.Tims-MacBook-Air-2.fritz.box.74352.0
runs/experiment_1/events.out.tfevents.1724446145.Tims-MacBook-Air-2.fritz.box.74462.0
runs/experiment_1/events.out.tfevents.1724446174.Tims-MacBook-Air-2.fritz.box.74547.0
runs/experiment_1/events.out.tfevents.1724446324.Tims-MacBook-Air-2.fritz.box.74733.0
runs/experiment_1/events.out.tfevents.1724446369.Tims-MacBook-Air-2.fritz.box.74882.0
runs/experiment_1/events.out.tfevents.1724446398.Tims-MacBook-Air-2.fritz.box.74975.0
runs/experiment_1/events.out.tfevents.1724446421.Tims-MacBook-Air-2.fritz.box.75107.0
runs/experiment_1/events.out.tfevents.1724446631.Tims-MacBook-Air-2.fritz.box.71324.0
runs/experiment_1/events.out.tfevents.1724446702.Tims-MacBook-Air-2.fritz.box.75347.0
runs/experiment_1/events.out.tfevents.1724446737.Tims-MacBook-Air-2.fritz.box.75495.0
runs/experiment_1/events.out.tfevents.1724446774.Tims-MacBook-Air-2.fritz.box.75608.0
runs/experiment_1/events.out.tfevents.1724488304.Tims-MacBook-Air-2.fritz.box.93081.0
runs/experiment_1/events.out.tfevents.1724488551.Tims-MacBook-Air-2.fritz.box.93335.0
runs/experiment_1/events.out.tfevents.1724488624.Tims-MacBook-Air-2.fritz.box.93393.0
runs/experiment_1/events.out.tfevents.1724488814.Tims-MacBook-Air-2.fritz.box.93562.0
runs/experiment_1/events.out.tfevents.1724489937.Tims-MacBook-Air-2.fritz.box.93904.0
runs/experiment_1/events.out.tfevents.1724489984.Tims-MacBook-Air-2.fritz.box.94007.0
runs/experiment_1/events.out.tfevents.1724491733.37b219cc-d492-4f13-a0df-8dd7a9b256f8.fritz.box.94634.0
runs/experiment_1/events.out.tfevents.1724491796.37b219cc-d492-4f13-a0df-8dd7a9b256f8.fritz.box.94770.0
runs/experiment_1/events.out.tfevents.1724491926.37b219cc-d492-4f13-a0df-8dd7a9b256f8.fritz.box.94901.0
runs/experiment_1/events.out.tfevents.1724491953.37b219cc-d492-4f13-a0df-8dd7a9b256f8.fritz.box.94984.0
runs/experiment_1/events.out.tfevents.1724491993.37b219cc-d492-4f13-a0df-8dd7a9b256f8.fritz.box.95103.0
runs/experiment_1/events.out.tfevents.1724492172.37b219cc-d492-4f13-a0df-8dd7a9b256f8.fritz.box.95248.0
runs/experiment_1/events.out.tfevents.1724492446.Tims-MacBook-Air-2.fritz.box.95418.0
runs/experiment_1/events.out.tfevents.1724492514.Tims-MacBook-Air-2.fritz.box.95611.0
runs/experiment_1/events.out.tfevents.1724492639.Tims-MacBook-Air-2.fritz.box.95737.0
runs/experiment_1/events.out.tfevents.1724493026.Tims-MacBook-Air-2.fritz.box.95966.0
runs/experiment_1/events.out.tfevents.1724493408.Tims-MacBook-Air-2.fritz.box.96220.0
runs/experiment_1/events.out.tfevents.1724493426.Tims-MacBook-Air-2.fritz.box.96331.0
runs/experiment_1/events.out.tfevents.1724493515.Tims-MacBook-Air-2.fritz.box.96530.0
testing_notebook.ipynb
.DS_Store
